*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color:#27374D;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #526D82;
    height: 7vh;
    width: 99vw;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 1;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 1.55vw;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease all;
}

nav ul li a:hover{
font-size: 1.05vmax;
color: #DDE6ED;
}

.hamburger{
    color: white;
    display: none;
}

.left{
    font-size: 2vmax;
}

.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 12vh 0;
}
.firstsection a{
    text-decoration: none;

}

.firstsection .rightsection img{
    border: 10px solid hsl(206, 23%, 42%,0.3);
    width: 20vw;
    height: 60vh;
    border-radius: 50%;
    object-position: 0.5rem 2rem;
    box-shadow: 2px 2px 10px  #1216184d;
}

.leftsection{
    font-size: 3vw;
    width: 40%;
    margin-left: 5vw;
}

.ncolor{
    color: #8db0c7;
    font-weight: bolder;
    font-style: italic;
}

#element{
    transition: all 2s ease;
}

.button {
    height: 7vh;
    width: 14vw;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #9DB2BF;
    overflow: hidden;
    border-radius: 30px;
    color: #DDE6ED;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 0.1rem;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #9DB2BF;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 0.1rem 0.1rem 20rem #9DB2BF;
    color: #27374D;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

main hr{
    border: 0;
    height: 0.1rem;
    background-color: #526D82;
    margin: 2rem 5rem;
}

.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondsection .rightsection{
    width: 40%;
    font-size: 1.1rem;
}

.secondsection .leftsection img{
    width: 80%;
}

.techno{
    margin: 2rem 0;
}

.techno h3{
    color:  #DDE6ED;
    text-align: center;
    font-size: 1.4vmax;
}

.technoimg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.technoimg img{
    width: 4%;
}

.hr2{
    border: 0;
    height: 0.1rem;
    background-color: #DDE6ED;
    margin: 2rem 5rem; 
}

.thirdsection{
    max-width: 80vw;
    margin: auto;
    height: 165vh;
}

.proj1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.proj1 .rightsection{
    width: 40%;
}

.proj1 .rightsection img{
    border: 0.3rem solid #9DB2BF;
    border-radius: 2rem;
    width:70%;
}


.proj1 .leftsection{
    font-size: 1.1rem;
}

.proj2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.proj2 .leftsection{
    border-radius: 2rem;
    width: 40%;
}

.proj2 .leftsection img{
    border: 0.3rem solid #9DB2BF;
    border-radius: 2rem;
    width:70%;
}


.proj2 .rightsection{
    font-size: 1.1rem;
    width: 40%;
}

.proj3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.proj3 .rightsection{
    border-radius: 2rem;
    width: 40%;
}

.proj3 .rightsection img{
    border: 0.3rem solid #9DB2BF;
    border-radius: 2rem;
    width:70%;
}


.proj3 .leftsection{
    font-size: 1.1rem;
}

.fourthsection{
    max-width: 80vw;
    margin: auto;
    height: 25vh;
    text-align: center;
}

.contimg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}
.contimg a img{
    width: 25%;
}

.contimg a{
    text-decoration: none;
    color: white;
}

footer{
    margin: auto;
    text-align: center;
    background-color: #526D82;
}


@media (max-width:430px) {
    nav ul{
        height: 30vh;
        width: 100%;
        display: block;
        position: absolute;
        background-color: #526D82;
        text-align: center;
        transform: translate(-62vw,30px);
        border-bottom: 3px solid #27374D;
        border-radius: 0 0 2rem 2rem;
        box-shadow: 2rem 1rem 5rem #526D82;
        display: none;
    }

    nav ul li{
        border-bottom: 1px solid white;
        margin: 4vh 6vh;
        font-size:  1rem;
        font-weight:bolder ;
    }
    
    .hamburger{
        display: block;
        width: 6vw;
    }

    .firstsection{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .firstsection .rightsection img{
        width: 50vw;
        height: 70vmin;
    }

    .leftsection{
        width: 80vw;
        text-align: center;
        font-size: 5vw;
    }

    .button{
        height: 4vh;
        width: 25vw;
    }

    .btn-txt{
        font-size: 2vw;
    }

    main hr{
        margin: 2rem 2rem;
    }

    .secondsection{
        flex-wrap: wrap;
        flex-direction: column;
        height: 120vmin;
    }

    .container{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .secondsection .rightsection{
        width: 80vw;
        font-size: 3.7vw;
    }

    .secondsection .leftsection img{
        width: 65vw;
    }

    .hr2{
        margin: 0.5rem 2rem;
    }

    .thirdsection{
        flex-wrap: wrap;
        height: 285vmin;
    }

    .proj1{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .proj1 .rightsection{
        width: 50vw;
    }

    .proj1 .rightsection img{
        border: 0.3rem solid #9DB2BF;
        border-radius: 2rem;
        width:50vw;
    }
    
    .proj1 .leftsection{
        margin-left: -3vw;
        font-size: 3vw;
    }

    .proj2{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .proj2 .leftsection{
        border-radius: 2rem;
        width: 50vw;
    }

    .proj2 .leftsection img{
        border: 0.3rem solid #9DB2BF;
        border-radius: 2rem;
        width:50vw;
    }
    
    .proj2 .rightsection{
        font-size: 3vw;
        width: 80vw;
    }
    
    .proj3{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .proj3 .rightsection{
        border-radius: 2rem;
        width: 50vw;
    }

    .proj3 .rightsection img{
        border: 0.3rem solid #9DB2BF;
        border-radius: 2rem;
        width: 50vw;
    }

    .proj3 .leftsection{
        font-size: 3vw;
        margin-left: -3vw;
    }

    .proj4{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contimg a img{
        width: 9vw;
    }

    .contimg a{
        font-size: 1.5vw;
    }
    footer{
        font-size: 2.5vw;
    }
}